<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<!-- 	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Главная</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Друзья</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Сообщения</a>
				</li>
			</ul>
				<form class="d-flex">
				<input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
				<button class="btn btn-outline-success" type="submit">Поиск</button>
				</form>
			</div>
		</div>
	</nav>
 -->
<div class = "container">
	<div class = "row">
		<nav class="nav nav-pills flex-column flex-sm-row">
			<a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">Главная</a>
			<a class="flex-sm-fill text-sm-center nav-link" href="#">Друзья</a>
			<a class="flex-sm-fill text-sm-center nav-link" href="#">Сообщения</a>
			<form class="d-flex">
				<input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
				<button class="btn btn-outline-success" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
					 <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
					</svg>
				</button>
			</form>
		</nav>

		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th scope="col">№</th>
					<th scope="col">Имя</th>
					<th scope="col">Фамилия</th>
					<th scope="col">Адрес</th>
					<th scope="col">Номер</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>Расим</td>
					<td>Арапов</td>
					<td>Ленина 28</td>
					<td>0770 10 65 45</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>Никита</td>
					<td>Никитич</td>
					<td>Кожомбердиева 10</td>
					<td>0990 17 43 83</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>Владимир</td>
					<td>Путин</td>
					<td>Московская 52</td>
					<td>0555 55 55 55</td>
				</tr>
			</tbody>
		</table>

<!-- 		<div class="card" style="width: 18rem;">
			<img src="https://s2.gaming-cdn.com/images/products/6694/orig/game-steam-half-life-3-cover.jpg" class="card-img-top" alt="...">
			<div class="card-body">
			<h5 class="card-title">899 р.</h5>
			<p class="card-text">Half-Life 3 от разработчиков Valve</p>
			<a href="#" class="btn btn-primary">Добавить в корзина</a>
			</div> -->
			<div class = "container">
			<div class = "row">
			<div class = "col-3"> 
				<div class="card-group">
					<div class="card">
					<img height = '250' width = '200' src="https://s2.gaming-cdn.com/images/products/6694/orig/game-steam-half-life-3-cover.jpg" class="card-img-top" alt="...">
						<div class="card-body">
						<h5 class="card-title">899 р.</h5>
						<p class="card-text">Half-Life 3 от разработчиков Valve</p>
						<a href="#" class="btn btn-primary">Добавить в корзину</a>
						</div>
					</div>
				</div>
				<div class="card-group">
					<div class="card">
					<img height = '250' width = '200' src="https://s1.gaming-cdn.com/images/products/9459/orig/counter-strike-global-offensive-pc-mac-game-steam-cover.jpg" class="card-img-top" alt="...">
						<div class="card-body">
						<h5 class="card-title">Бесплатно</h5>
						<p class="card-text">Counter-Strike: Global Offensive - киберспортивный шутер нового поколения от создателей Valve</p>
						<a href="#" class="btn btn-primary">Добавить в корзину</a>
						</div>
					</div>
				</div>
				<div class="card-group">
					<div class="card">
					<img height = '250' width = '200' src="https://upload.wikimedia.org/wikipedia/ru/d/dc/Portal_2_%28%D0%BE%D0%B1%D0%BB%D0%BE%D0%B6%D0%BA%D0%B0%29.jpg" class="card-img-top" alt="...">
						<div class="card-body">
						<h5 class="card-title">750</h5>
						<p class="card-text">Portal 2 увлекательная игра от создателей Valve</p>
						<a href="#" class="btn btn-primary">Добавить в корзину</a>
						</div>
					</div>
				</div>
				<div class="card-group">
					<div class="card">
					<img height = '250' width = '200' src="https://upload.wikimedia.org/wikipedia/ru/thumb/8/8e/%D0%9E%D0%B1%D0%BB%D0%BE%D0%B6%D0%BA%D0%B0_Dota_2.jpg/266px-%D0%9E%D0%B1%D0%BB%D0%BE%D0%B6%D0%BA%D0%B0_Dota_2.jpg" class="card-img-top" alt="...">
						<div class="card-body">
						<h5 class="card-title">199</h5>
						<p class="card-text">Dota 2 киберспортивная игрушка от создателей Valve</p>
						<a href="#" class="btn btn-primary">Добавить в корзину</a>
						</div>
					</div>
				</div>

			</div>
			</div>
			</div>
	</div>
</div>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>