{% extends "posts/_base.html" %}
{% block content %}
<div class = "container">
	<div class = "row">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th scope="col">№</th>
					<th scope="col">Имя</th>
					<th scope="col">Фамилия</th>
					<th scope="col">Адрес</th>
					<th scope="col">Номер</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>Расим</td>
					<td>Арапов</td>
					<td>Ленина 28</td>
					<td>0770 10 65 45</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>Никита</td>
					<td>Никитич</td>
					<td>Кожомбердиева 10</td>
					<td>0990 17 43 83</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>Владимир</td>
					<td>Путин</td>
					<td>Московская 52</td>
					<td>0555 55 55 55</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}